<h1>Mi Perfil</h1>

<p>Bienvenido! {{user.first_name}} {{user.last_name}} </p>
<p>email : {{user.email}}</p>
<p>edad: {{user.age}}</p>

<!-- Enlaces para ordenar los productos -->
<a href="/current?page={{currentPage}}&sort=asc">Ordenar por precio ascendente</a>
<a href="/current?page={{currentPage}}&sort=desc">Ordenar por precio descendente</a>

{{#each products}}
  <div class="card">
    <p> {{this.title}} </p>
    <p> {{this.description}} </p>
    <p> {{this.price}} </p>
    <button>agregar al carrito</button>
  </div>
{{/each}}
{{#if hasPrevPage}}
  <a href="/current?page={{prevPage}}"> Anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="/current?page={{nextPage}}"> siguiente</a>
{{/if}}

<p>{{currentPage}} de {{totalPages}}</p>
<a href="api/sessions/logout"> Logout </a>